version: "3.8"
services:
  auth-service:
    image: docker.io/aiplms/auth-service:${AUTH_SERVICE_TAG:-latest}
    environment:
      - SPRING_PROFILES_ACTIVE=ci
    ports:
      - "8081:8081"
    depends_on:
      - postgres
      - redis

  user-service:
    image: docker.io/aiplms/user-service:${USER_SERVICE_TAG:-latest}
    ports:
      - "8082:8082"
    depends_on:
      - postgres
      - redis

  content-service:
    image: docker.io/aiplms/content-service:${CONTENT_SERVICE_TAG:-latest}
    ports:
      - "8083:8083"
    depends_on:
      - minio
      - postgres
      - rabbitmq

  gateway-graphql:
    image: docker.io/aiplms/gateway-graphql:${GATEWAY_TAG:-latest}
    ports:
      - "4000:4000"
    depends_on:
      - auth-service
      - user-service
      - content-service
